@model Entities.Concrete.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>

@using (Html.BeginForm("UpdateHeading", "WriterPanel", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(h => h.HeadingId)
    @Html.HiddenFor(h => h.HeadingDate)
    @Html.HiddenFor(h => h.WriterId)
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(h => h.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(c => c.CategoryId, (List<SelectListItem>)ViewBag.valuecategory, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</div>
}