@model Entities.Concrete.Writer

@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yen Yazar Ekleme</h1>

<br />

@using(Html.BeginForm("AddWriter","Writer",FormMethod.Post))
            {
<div class="form-group">
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(w => w.WriterName, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterName)
    <br /> 
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(w => w.WriterSurName, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterSurName)
    <br /> 
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(w => w.WriterEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterEmail)
    <br /> 
    @Html.Label("Yazar Şifresi")
    @Html.TextBoxFor(w => w.WriterPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterPassword)
    <br /> 
    @Html.Label("Yazar Görsel Linki")
    @Html.TextBoxFor(w => w.WriterImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterImage)
    <br /> 
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(w => w.WriterAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterAbout)
    <br /> 
    <button class=" btn btn-info">Yazarı Ekle</button>
</div>
            }


