@model Entities.Concrete.Writer

@{
    ViewBag.Title = "UpdateWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yazar Düzenleme Sayfası</h2>

@using (Html.BeginForm("UpdateWriter","Writer",FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Yazar Id")
    @Html.TextBoxFor(w => w.WriterId, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(w => w.WriterName, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(w => w.WriterSurName, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterSurName)
    <br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(w => w.WriterEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterEmail)
    <br />
    @Html.Label("Yazar Görsel Linki")
    @Html.TextBoxFor(w => w.WriterImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterImage)
    <br />
    @Html.Label("Yazar Unvan")
    @Html.TextBoxFor(w => w.WriterTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterTitle)
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(w => w.WriterAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(w => w.WriterAbout)
    <br />
    <button class=" btn btn-success">Değişiklikleri Uygula </button>

</div>
}

